@model List<JsonModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="index">
    <div class="inputFile">
        <h2>Upload JSON or TXT File</h2>
        <br />
        <form method="post" enctype="multipart/form-data" action="/Home/JsonTree">
            <div class="form-group">
                <input type="file" name="file" accept=".json, .txt" class="form-control" />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    <br />
    <br />
    <br />

    <div class="Indexrightside">
        <div>
            <h2>My Data List</h2>
        </div>


        <div class="dataList">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <a asp-controller="Home" asp-action="JsonTree" asp-route-id="@item.Id">
                            @item.Id
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
   
</div>


